{% extends 'base.html' %}
{% block content %}
{% for post in posts %}
 <div class=" col-md-4">
    <div class="latest">
       <figure><img src="../static/images/blog1.jpg" alt="#"/></figure>
       <span>{{post.created_date}}</span>
       <div class="nostrud">
          <h3><a href='http://127.0.0.1:5000/{{post.id}}'>{{post.title}}</a></h3>
          <p>{{ post.description }}</p>
          <p><a href="http://127.0.0.1:5000/profile/{{post.author_id}}">{{ post.author.username }}</a></p>
          <a class="read_more" href="http://127.0.0.1:5000/{{post.id}}">Read More</a>
       </div>
    </div>
 </div>
{%endfor%}
{% endblock %}